<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <main>
    <h1>{{ page.title }}</h1>

    <article>
      {{ content }}
    </article>

    <nav class="nav-chapters">
      {% if page.previous %}
        <a href="{{ page.previous.url }}">⏮️ Anterior</a>
      {% endif %}

      <a href="/">Inicio</a>

      {% if page.next %}
        <a href="{{ page.next.url }}">Siguiente ⏭️</a>
      {% endif %}
    </nav>
  </main>
</body>
</html>
